* {
  box-sizing: border-box;
  font-family: 'Open sans';
}
body {
  background-color: #FBFBFB;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}
main article h3{
  margin-bottom: 0.2em;
}

main article p {
  margin-top: 0.2em;
}

main section{
  border: solid 1px lightgrey;
  margin: 1em 0;
  padding: 0.5em 1em 1em;
  background-color: white;
}

div .section-center {
  max-width: 800px;
  margin: auto;
}
section div table tr td {
   padding-right: 3em;
 }

 section div table tr th {
   text-align: left;
 }

 table button {
   background-color: #32785d;
   color: white;
   border: none;
   padding: 1em;
 }

 #shop-or-pay button {
   background-color: #32785d;
   color: white;
   border: none;
   padding: 1em;
 }

#lastrow {
  border-bottom: 1px solid black;
}

#fee, #total-price {
  float:right;
}

#coverpic {
  max-width: 100%;
}
.facts h1{
  font-size: 1.6em;
  margin: 0 0 0.5em;
}


/*.google-maps {
    position: relative;
    padding-bottom: 90%; /*(450 ÷ 500 = 0.9 = 90%)*/
  /*  height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}*/
.google-maps iframe {
  display: none;
}



@media screen and (min-width: 750px){
  .facts {
    float: left;
  }
  .google-maps iframe {
    display: block;
    float: right;

  }
}

@media screen and (min-width: 900px){
}

@media screen and (min-width: 1220px){
  #coverpic {
    width: 72%;
    float: left;
  }

  .facts {
    clear: both;
  }

  aside {
    float: right;
    max-width: 100%;
  }

  .goggle-maps {
    overflow: visible;
  }

  .google-maps iframe {
    display: block;
    float: right;
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  section div table tr td {
     padding-right: 1em;
   }
}
