* {
  box-sizing: border-box;
  font-family: 'Open sans';
}

.wrapper {
  max-width: 1500px;
  margin: auto;
}
main {

}
#coverpic {
  max-width: 100%;
}
.facts h1{
  font-size: 1.6em;
  margin: 0 0 0.5em;
}

/*.google-maps {
    position: relative;
    padding-bottom: 90%; /*(450 ÷ 500 = 0.9 = 90%)*/
  /*  height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}*/
.google-maps iframe {
  display: none;
}



@media screen and (min-width: 750px){
  .facts {
    float: left;
  }
  .google-maps iframe {
    display: block;
    float: right;

  }
}

@media screen and (min-width: 900px){
}

@media screen and (min-width: 1200px){
  #coverpic {
    width: 72%;
    float: left;
  }

  .facts {
    clear: both;
  }

  aside {
    float: right;
    max-width: 100%;
  }

  .goggle-maps {
    overflow: visible;
  }

  .google-maps iframe {
    display: block;
    float: right;
    width: 100%;
  }
}
